
.select-container {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

.select-container select {
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(135, 206, 250, 0.25);
    border-radius: .3rem;
    margin-right: .5em;
    cursor: pointer;
}

.chart-container {
    display: flex;
    justify-content: center;
    width: 60%;
}

.risk-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, auto);
    background-color: rgba(135, 206, 250, 0.25);
    padding: 1%;
    border-radius: 4px;
}

.risk-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.risk {
    display: flex;
    justify-content: space-between;
}

.risk li, .risk-header li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding: 1%;
}

.selected {
    background-color: lightskyblue;
    border-radius: 4px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(88, 191, 255, 0.432);
    border-radius: 4px;
    padding: 1%;
    margin-left: 3%;
    cursor: pointer;
}

.button-container:hover {
    background-color: lightskyblue;
    color: #fff;
    border-radius: 4px;   
}

.btn {
  background-color: hsl(0, 0%, 90%);
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 .5em;
  padding: .5em 1em;
  border-radius: .3em;
  color: #fff;   
}

.btn:disabled {
    color: white;
}

.btn:hover, .btn:focus {
  background-color: hsl(0, 0%, 80%);
  box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}

.btn.btn-chart {
  background-color: hsl(180, 80%, 50%);
  border-color: hsl(180, 80%, 30%);
}

.btn.btn-chart:hover, .btn.btn-chart:focus {
  background-color: hsl(180, 80%, 40%);
  box-shadow: 0 0 5px 0 hsl(180, 80%, 30%);
}

.btn.btn-calculator {
  background-color: hsl(150, 60%, 70%);
  border-color: hsl(150, 100%, 20%);
}

.btn.btn-calculator:hover, .btn.btn-calculator:focus {
  background-color: hsl(150, 100%, 30%);
  box-shadow: 0 0 5px 0 hsl(150, 100%, 20%);
}

.btn.btn-back {
  background-color: hsl(10, 100%, 40%);
  border-color: hsl(10, 100%, 20%);
}

.btn.btn-back:hover, .btn.btn-back:focus {
  background-color: hsl(10, 100%, 30%);
  box-shadow: 0 0 5px 0 hsl(10, 100%, 20%);
}

.btn-link {
  color: red;
}