
.select-container {
    display: flex;
    justify-content: flex-start;
    width: 75%;
}

.select-container select {
    height: 100%;
    outline: none;
    border: none;
    background-color: hsl(37, 100%, 93%);
    border-radius: .3rem;
    margin-right: .5em;
    cursor: pointer;
}

.chart-container {
    display: flex;
    justify-content: center;
    width: 75%;
}

.risk-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, auto);
    background-color: hsl(37, 100%, 93%);
    padding: 1%;
    border-radius: 4px;
}

.risk-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.risk1, .risk2, .risk4 {
  flex-grow: 1;
}

.risk {
    display: flex;
    justify-content: space-between;
}

.risk li, .risk-header li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding: 1%;
}

.selected {
    background-color: lightskyblue;
    border-radius: 4px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(88, 191, 255, 0.432);
    border-radius: 4px;
    padding: 1%;
    margin-left: 3%;
    cursor: pointer;
}

.button-container:hover {
    background-color: lightskyblue;
    color: #fff;
    border-radius: 4px;   
}

.btn {
  background-color: hsl(0, 0%, 90%);
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 .5em;
  padding: .5em 1em;
  border-radius: .3em;
  color: #fff;   
}

.btn:disabled {
    color: white;
}

.btn:hover, .btn:focus {
  background-color: hsl(0, 0%, 80%);
  /* box-shadow: 0 0 5px 0 hsl(0, 0%, 70%); */
}

.btn.btn-chart {
  color: black;
  background-color: hsl(209, 100%, 91%);
  border-color: hsl(209, 100%, 71%);
}

.btn.btn-chart:hover, .btn.btn-chart:focus {
  background-color: hsl(209, 100%, 81%);
  /* box-shadow: 0 0 5px 0 hsl(209, 100%, 71%); */
}

.btn.btn-calculator {
  color: black;
  background-color: hsl(106, 100%, 91%);
  border-color: hsl(106, 100%, 71%);
}

.btn.btn-calculator:hover, .btn.btn-calculator:focus {
  background-color: hsl(106, 100%, 81%);
  /* box-shadow: 0 0 5px 0 hsl(106, 100%, 71%); */
}

.btn.btn-back {
  color: black;
  background-color: hsl(309, 100%, 91%);
  border-color: hsl(309, 100%, 71%);
}

.btn.btn-back:hover, .btn.btn-back:focus {
  background-color: hsl(309, 100%, 81%);
  /* box-shadow: 0 0 5px 0 hsl(309, 100%, 71%); */
}
