
.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 100%;

}

.header-titles {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.header-titles li {
    padding: .3rem .75rem;
}

.table-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.input-container {
    width: 55%;
    background-color: rgba(0, 255, 255, 0.144);
    border-radius: .3rem;
    padding: .5rem;
}

.current-amt {
    flex-grow: 1;
}

.header-btn {
    display: flex;
}

.input-wrapper {
    display: flex;
    border: 1px solid black;
    border-radius: .3rem;
    background-color: white;
    padding: .25rem .75rem;
    max-width: 125px;
    width: 75%;
    height: 100%;
}


.input {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.input:first-child {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid grey;
}

.input-wrapper input {
    border: none;
    width: 75%;
    font-size: inherit;
}

.input li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.suggestion-container {
    width: 40%;
    background-color: rgba(156, 235, 228, 0.767);
    border-radius: .3rem;
    padding: .5rem;
}

.suggestion-container h4 {
    text-align: center;
    padding-bottom: .3rem;
    border-bottom: 1px solid grey;
}

.suggestion-container li {
    width: 100%;
    padding: .5rem;
}

