
.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 100%;

}

.header-titles {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.header-titles li {
    padding: .3rem .75rem;
}

.table-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.input-container {
    width: 55%;
    padding: 1em;
    background-color: rgba(0, 255, 255, 0.144);
    border-radius: 4px;
}

.current-amt {
    flex-grow: 1;
}

.header-btn {
    display: flex;
    padding-left: .5rem;
}

.input {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.input input {
    max-width: 125px;
    width: 75%;
    height: 100%;
}

.input li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.suggestion-container {
    width: 40%;
    background-color: rgba(156, 235, 228, 0.767);
    padding: 1%;
    border-radius: 4px;
}

.suggestion-container li {
    width: 100%;
    padding-bottom: .5rem;
}

