
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    width: 80%;
}

.header-titles {
    display: flex;
    font-size: 120%;
    width: 80%;
}

.header-btn {
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    width: 30%;
}


.header li {
    padding-left: 1%;
    padding-right: 1%;
}

.table-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.input-container {
    width: 60%;
    padding: 1%;
    background-color: rgba(0, 255, 255, 0.144);
    border-radius: 4px;
}


.input {
    display: flex;
    /* grid-template-columns: repeat(4, auto); */
    justify-content: center;
    padding-bottom: 1rem;
}

.input input {
    width: 75%;
    height: 100%;
}

.input li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.suggestion-container {
    width: 35%;
    background-color: rgba(156, 235, 228, 0.767);
    padding: 1%;
    border-radius: 4px;
}

.suggestion-container li {
    width: 100%;
    padding-bottom: .5rem;
}




#green {
    color: green;
}

#red {
    color: red;
}
