.content-container {
    width: 100%;
    display: flex;
    margin-top: 1%;
}

.intro-container {
    width: 40%;
    padding: 2%;
}

.video-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

