.select-container {
    display: flex;
}

.risk-container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    background-color: rgba(135, 206, 250, 0.25);
    border-radius: 4px;
}

.risk-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid grey;
}

.risk {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.risk li, .risk-header li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: .25rem;
}

.selected {
    background-color: lightskyblue;
    border-radius: 4px;
    cursor: pointer;
}

.button-container {
    background-color: rgba(135, 206, 250, 0.25);
    border-radius: 4px;
    padding: .25rem;
    margin-left: .5rem;
    cursor: pointer;
}

.button-container:hover {
    background-color: lightskyblue;
    color: #fff;
    border-radius: 4px;   
}