.nav {
  background-color: hsl(150, 100%, 80%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 .5rem 0 grey;
}

.nav span {
    font-size: 1.5rem;
}

.link-list {
  display: flex;
  margin: 0;
  list-style: none;
}

.link {
  padding: .5rem;
  background-color: hsl(180, 80%, 70%);
  border-radius: .3rem;
}

.link:hover {
  background-color: hsl(180, 80%, 50%);
  border-radius: 0.3rem;
  
}

.link a {
  color: inherit;
  text-decoration: none;
}