.nav {
  background-color: rgb(0, 225, 255);
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 .5rem 0 grey;
}

.nav span {
    font-size: 1.5rem;
}

.link-list {
  display: flex;
  margin: 0;
  list-style: none;
}

.link {
  padding: .5rem;
}

.link:hover {
  background-color: rgb(0, 255, 191);
  border-radius: 0.3rem;
  
}

.link a {
  color: inherit;
  text-decoration: none;
}